body {
    background-color:  rgb(189, 183, 240);
    color: rgb(94, 5, 5);
    font-family: Arial;
    margin: 0px;
}

header {
    background-color: rgb(189, 183, 240); 
    color: rgb(48, 0, 151);
    padding: 10px; 
    font-size: 16pt;
}

footer {
    background-color: rgb(189, 183, 240);
    color: maroon;
    padding: 10px; 
    font-size: 14pt;
    margin: 0px;
    font-style: italic;
    text-align: right;
}

a{
    color: rgb(144, 0, 247);
    text-decoration: none;
}

a:visited {
    color: rgb(253, 5, 212);
}

a:hover{
    color: rgb(0, 217, 255);
    text-decoration: underline;
    background-color: rgb(0, 0, 148);
    font-weight: bold;
}
a:active {
    color: pink;
    background-color: rgb(93, 0, 255);
}